@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Unabarsaletor */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shard related styles */
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #000000;
    color: white;
}

.display-flex{
    display: flex;
}
.text-color{
    color: rgba(255, 255, 255, 0.5);
}
.btn{
    padding: 16px 47px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    color: white;

}
.color{
    background-color: rgba(17, 17, 17, 1);
}
/* Main styles */
/* Navbar related styles */
.navbar{
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 57px;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
}
.nav-lists{
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
    border-radius: 39px;
    padding: 11px 4px;
}
.nav-list{
    list-style: none;
    
}

.nav-item{
    font-size: 1.15rem;
    text-decoration: none;
    color: white;
}
.nav-btn{
    padding: 8px 20px ;
    border-radius: 46px;
    background-color: #E6533C;
}
.nav-about{
    padding: 0px 20px 0px 20px;
}
.nav-menu{
    color: white;
    display: none;
}

/* banner related styles */
.banner-container{
    max-width: 1060px;
    margin: 0 auto;
   justify-content: space-between;
    margin-top: 98px;

}
.banner-text{
    width: 50%;
}
.banner-title{
    font-size: 5rem;
    font-weight: 900;
    color: white;
    margin-bottom: 28px;
}

.banner-description{
    max-width: 520px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}

.btn-container{
    gap: 14px;
}

.btn-1{
    color: white;
    padding: 16px 47px;
    border-radius: 42px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
}
.banner-image{
    width: 50%;
    position: relative;
    justify-content: end;
}
.banner-image img{
    width: 100%;
    margin-right: 40px;
}

.img-btn{
    width: 150px;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    padding: 10px 20px;
    border-radius: 12px;
    right: 5%;
    top: 30%;
}

.img-btn h2{
    font-size: 2.5rem;
    font-weight: 900;
}

.img-btn p{
    font-size: 0.7rem;
}

.img-btn-1{
    width: 200px;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    padding: 20px 20px;
    border-radius: 12px;
    left: -15%;
    top: 70%;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.ball{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50%;
}

.waite{
    margin-bottom: 100px;
}
/* changes related styles */
.changes{
    max-width: 1044px;
    margin: 0 auto;
    margin-top: 100px;
}

.change-text{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-bottom: 14px;
}

.change-title{
    font-size: 3rem;
    font-weight: 900;
}
.change-image-container{
    gap: 40px;
    margin-top: 58px;
}
.card{
    width: 231px;
    text-align: center;
    
}

.card img{
    border-radius: 50%;
    margin-bottom: 30px;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 6px;
}

/* run-section styles */
.run-section{
    max-width: 1060px;
    margin: 0 auto;
    background-color: #222222;
    margin-top: 100px;
}

.run-container{
    align-items: center;
    justify-content: space-between;
}

.run-text{
    max-width: 443px;
    margin: 40px 54px;
}
.run-title{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.run-text p{
    margin-bottom: 34px;
}

.run-img img{
    width: 343px;
    border-radius: 18px;
    margin: 30px 32px;
}

/* Trainings section styles */








/*  Team section styles*/
.team{
    max-width: 1060px;
    margin: 78px auto;
}
.team-text{
    max-width: 671px;
    margin: 0 auto;
    text-align: center;
}

.team-img-container{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr );
    gap: 20px;
    position: relative;
}
.team-img{
    position: relative;
}
.text{
    position: absolute;
    top: 75%;
    left: 3%;
}

.team-img-container img{
    width: 330px;
    height: 270px;
    border-radius: 18px;
}

/* Footer related styles */

.main-footer{
    max-width: 1440px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-container{
    max-width: 1060px;
    margin: 66px auto;
    justify-items: center;
}

.footer-text{
    max-width: 444px;
}

.foot-title{
    font-size: 4.5rem;
    font-weight: 800;
    font-style: italic;
    color: #E6533C;
    margin-bottom: 20px;
}


.footer-list{
    max-width: 181px;
    margin-left: 110px;
}

.list{
    list-style: none;
    margin-bottom: 20px;
}

.list .item{
    text-decoration: none;
    
    
}

.foot-list-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.foot-hr{
    max-width: 75%;
    margin: 0 auto;
}

.right{
    text-align: center;
    margin-top: 10px;
}












/* Responsive related styles */
@media screen and (max-width:576px) {
    .color{
        padding: 5%;
    }
    .nav-lists{
        display: none;   
    }
    .nav-menu{
        display: inline;

    }
    .banner-container,
    .change-image-container,
    .run-container,
    .footer-container{
        flex-direction: column;
    }

    .banner-title{
        font-size: 2.25rem;
    }

    .btn-container{     
        gap: 20px;
    }
    .banner-text{
        width: 90%;
    }
   .btn{
    padding: 16px 20px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #E6533C;
    border: none;
    border-radius: 42px;
    color: white;
    }
    .btn-1{
        color: white;
        border: 1px solid white;
        border-radius: 42px;
        padding: 16px 20px;
    }
    .btn-container{
        justify-content: center;
    }
    .banner-image{
        margin: 5px;
        width: 90%;
        margin-left: 10%;
        margin-top: 50px;
    }

    .img-btn{
    width: 150px;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    padding: 10px 20px;
    border-radius: 12px;
    right: 10%;
    top: 8%;
}
.img-btn-1{
    width: 200px;
    color: white;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    padding: 20px 20px;
    border-radius: 12px;
    left: 1%;
    top: 45%;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.change-image-container{
    align-items: center;
    gap: 40px;
    
}

.team-img-container{
    grid-template-columns: 1fr;
}

.team-img{
  margin: 0 auto;
}
.footer-text{
    margin-bottom: 20px;
}
.footer-list,
.foot-hr{
    margin-left: 0;
}
.right{
    text-align: start;
}

}